@model _5_DataEntryScreen.Models.Customer

@{
    ViewBag.Title = "Display Customer";
}

<h2>Display Customer</h2>

Customer Name:- @Model.Custname <br />
Customer Code:- @Model.CustomerCode <br />
Customer Amount:- @Model.Amount
