@{
    ViewBag.Title = "Index";
}

<h2>Multiple Submit button</h2>
<form method="post">
    <input type="submit" name="Submit:OK" value="OK">
    <input type="submit" name="Submit:Cancel" value="Cancel">
</form>
<br />
@ViewBag.Button