@{
    ViewBag.Title = "Error";
}

<h2>Globaly handelled error by Error.cshtml page in shared folder.</h2>
<br />--------------------<br />
<b> for handel error globly you have to register HandleErrorAttribute in the filterCobfig file.</b>
<p>and make customerros ON in web.config of root directory</p>
<br />--------------------<br />
<b>for handeling individually you can also use [HandleError] attribute on action methods.</b>