@model _4_Models_Entityframework.Models.Student

@{
    ViewBag.Title = "Student Detail";
}

<h2>Student Detail</h2>
ID:- @Model.Id <br />
Name:- @Model.name <br />
Course:- @Model.course <br />
Age:- @Model.age
